body {
  font-family: 'Open Sans', sans-serif;
  width: 24em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 1em;
}

img {
  width: 12em;
  height: auto;
}

a {
  height: 2em;
}

h1 {
  font-size: 1.4em;
  font-weight: normal;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 0 0.8em;
}

.card {
  display: inline-block;
  background-color: rgb(247, 247, 247);
  height: 13.5em;
}

#options-icon {
  color: rgb(189, 189, 189);
  font-size: 1.2em;
  padding: 0.4em 0 0;
}

#options-icon:hover {
  color: rgb(148, 148, 148);
}
