body {
  font-family: 'Open Sans', sans-serif;
  width: 25em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  margin: 1em 0 0;
}

img {
  width: 15em;
  height: auto;
  padding: 0 0 0.6em;
}

a {
  height: 2em;
}

h1 {
  font-size: 1.4em;
  font-weight: normal;
  margin: 0 0 0.6em;
}

.settings-container {
  background-color: rgb(247, 247, 247);
  margin: 0.5em;
}

#options-icon {
  color: rgb(189, 189, 189);
  font-size: 1.4em;
  padding: 0.15em 0 0;
}

#options-icon:hover {
  color: rgb(148, 148, 148);
}
